body{
    margin: 0px;
    
    background-image: url("../images/5330558.jpg");
    width:100% ;
    height: 1800px;
    background-repeat: no-repeat;
    text-align: center;
}
.navigation-bar{
    text-align: left;
    position: fixed;
}
.navbar-links{
    font-size:1.5625rem;
    font-family: 'Nanum Pen Script', cursive;
    position: absolute;
    right:15px;
    top: 40px;
    
    
}
.logo{
    display: inline-block;
    width: 20%;
    margin: 1%;
    
}

.top-container{
    padding: 12%
}
.middle-container{
    font-family: Lucida Handwriting;
    margin-top: 0px;
    color: darkcyan;
    padding: 25px;

}
.skill-row-1{
    color: darkcyan;
    margin: 50px auto 50px auto;
    width:75%;
    text-align: left;
    line-height: 2;
}
.skill-row-2{
    font-weight: bolder;
    color:darkred;
    margin: 50px auto 50px auto;
    width:70%;
    text-align: left;
    line-height: 2;
}
.skill-row-image-1{
    margin-right: 50px;
    float: left;
    width:25%;
    
}
.skill-row-image-2{
    margin-left: 0px;
    float: right;
    width:25%;
    
}
.contact-me{
    color:darkred;   
}
.bottom-container{
    color:darkred;
}



.top_text{

    font-size: 5rem;
    font-family: 'Nanum Pen Script', cursive;
    color: #66BFBF;
    margin-bottom: -10px;
    margin-top: 0px;

}
.below_top{
    font-weight: normal;
    color: #66BFBF;
    font-family:Lucida Handwriting;
    
    margin-top:0px ;
    font-size: 20px;

}
h2{
    font-size: 3.1rem;
    font-family: 'Nanum Pen Script', cursive;
    color: grey;
    margin-bottom: -10px;
    margin-top: 0;
}
h3{
    font-size: 2rem;
    font-family: 'Nanum Pen Script', cursive;
    color: #11999E;
    margin-bottom: -10px;
    margin-top: 0;
}

/*Clouds*/
.cloud1{

    width: 20%;
    position: absolute;
    left: 10%;
    top: 180px;
    opacity: 40%;
    
}
.cloud2{

    width: 30%;
    position: absolute;
    right: 7%;
    top: 200px;
    opacity: 30%; 
    
   
}
/*text at Top*/




a{
    color: #11999E;
    text-decoration: none;
}
  




